@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
    font-family: 'Merriweather', serif;
    margin: 0px;
    
}
:root{
       --primary-color:#7c3aed;
       --dark-gray: #64748b;
       --off-white:#cbd5e1;
}
hr{
    margin: 2rem 0rem;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.link{
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.link-primary{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.link-secondary{
    color: var(--primary-color);
   border-radius: 0.5rem;
   border: 1px solid var(--primary-color);
  
}

.list-non-bullet{
    list-style: none;
}

.list-inline-item{
    display: inline;
    padding: 0rem 1rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 1rem; 
    border-bottom-left-radius: 2rem;
}
.navigation .link{
    color: white;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .nav-brand{
    font-weight: bold;
}
.link-active{
    font-weight: bold;
    font-size: larger;
}
.hero{
    padding: 2rem;
}
.hero .hero-img{
    margin: auto;
    display: block;
  width: 230px;
  height: 250px;
  border-radius: 50%;
}
.hero .hero-header{
    color: var(--dark-gray);
    text-align: center;

}
.hero .hero-header .focus-heading{
    color: var(--primary-color);
    padding-top: 1rem;
}
.section{
    padding: 2rem;
}
.section h1{
    text-align: center;
}
.ow{
   background-color: var(--off-white);
}
.footer{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    border-bottom-right-radius: 2rem;
    
}
.footer .link{
    color: white;
}
.footer .footer-list{
    padding-inline-start: 0px;
}
.footer-heading{
    
    font-size: larger;
    padding: 1rem;
}
.footer .bx{
   font-size: 35px;
}
.footer .bx:hover{
    color: black;
}