@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
    font-family: 'Merriweather', serif;
}
:root{
       --primary-color: #6C63FF;
}
hr{
    margin: 2rem 0rem;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

.link{
    padding: 0.5rem 1rem;
    
    text-decoration: none;
}

.link-primary{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.link-secondary{
    color: var(--primary-color);
   border-radius: 0.5rem;
   border: 1px solid var(--primary-color);
  
}

.list-non-bullet{
    list-style: none;
}

.list-inline-item{
    display: inline;
    padding: 0rem 1rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 1rem; 
    border-bottom-left-radius: 2rem;
}
.navigation .link{
    color: white;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .nav-brand{
    font-weight: bold;
}
.link-active{
    font-weight: bold;
}